@import '_variables.scss';
@import '_mixins.scss';

.db {

  &__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $db-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
    z-index: 1000;
  }

  &__new {
    margin-top: $db-header-height;
    padding: 1.5rem;
    background: #dadce0;
  }

  &__create {
    width: 160px;
    height: 160px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: green;
      border-color: green;
    }
  }

  .db__view {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__table {
    padding: 1rem; 
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    color: #202124;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 12px;
  }

  &__list {
    @include clear-list();
  }

  &__record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px 12px 16px;
    margin-bottom: 10px;

    &:hover {
      background: #e6f4ea;
      border-radius: 25px;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: #202124;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  
} 
